.product{
display: flex;
border-bottom: 1px solid lightgray;
margin-bottom: 5px;
padding-bottom: 5px;
margin-right: 10px;


}

.product-name{
color: blue;
font-weight: 400;
margin: 20px;


}

div p{
    margin: 20px;
}
.main-btn{
background-color: goldenrod;
width: 150px;
height: 30px;
border: 1px solid rgb(231, 210, 89);
border-radius: 2px;
cursor: pointer;
}








